<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr> <td>08:00</td>  <td>Introduction, <a href="https://librarycarpentry.org/lc-overview/">Jargon Busting</a></td> </tr>
      <tr> <td>09:00</td>  <td>Break</td> </tr>
      <tr> <td>09:10</td>  <td><a href="https://librarycarpentry.org/lc-overview/">A Computational Approach, Introduction to Working with Data (Regular Expressions)</a></td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td>  <td><a href="https://librarycarpentry.org/lc-shell/">The Unix Shell</a> (<a href="https://librarycarpentry.org/lc-shell/02-navigating-the-filesystem/index.html">Navigating the filesystem</a>, <a href="https://librarycarpentry.org/lc-shell/03-working-with-files-and-folders/index.html">Files and directories</a>)</td> </tr>
      <tr> <td>09:00</td>  <td>Break</td> </tr>
      <tr> <td>09:10</td>  <td><a href="https://librarycarpentry.org/lc-shell/04-loops/index.html">Loops</a>, <a href="https://librarycarpentry.org/lc-shell/05-counting-mining/index.html">Counting and mining</a></td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>10:40</td>  <td>Counting and mining continued, <a href="https://librarycarpentry.org/lc-shell/06-free-text/index.html">Free text</a></td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td>  <td><a href="https://librarycarpentry.org/lc-spreadsheets/">Tidy Data</a></td> </tr>
      <tr> <td>09:00</td>  <td>Break</td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/">OpenRefine</a></td> </tr>
      <tr> <td>09:00</td>  <td>Break</td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>12:00</td>  <td>Wrap-up</td> </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
